
<html lang="en">
  <head>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  							<!-- Fonts -->
 <link href='http://fonts.googleapis.com/css?family=Pacifico|Oswald' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  </head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <span class="hidden-xs">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		<a href="#">
		<img src="https://www.snapscore.me/Content/img/SnapscoreLogo.svg">
		</a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="navbar">
	  <ul class="nav navbar-nav navbar-right">
		<li class="hidden-lg hidden-md hidden-sm"><a href="#Analytics">Analytics</a></li>
		<li class="hidden-lg hidden-md hidden-sm"><a href="#Data">+ Data</a></li>
		<li class="hidden-lg hidden-md hidden-sm"><a href="#Security">Security</a></li>
		<li><a href="#Login">Login</a></li>
		<li><a href="#Sign Up">Sign Up</a></li>
	  </ul>
	</div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><!-- /.nav End -->

 <h3 class="divider">
    <span></span>
</h3>
 <h3 class="divider">
    <span></span>
</h3>

<div class="divider-bottom">
    <span></span>
</div>
<div class="row hidden-xs">
	<div class="top clearfix hidden-xs col-sm-12 col-md-12 col-lg-12">
		<div class="top_analytics clearfix hidden-xs col-sm-4 col-md-4 col-lg-4">	
			<h2>&nbsp;</h2>
			<h2>&nbsp;</h2>
			<h1>Recruitment<br> Analytics</h1>
				<h2>&nbsp;</h2>
				<h2>Dolore exercitation pariatur velit eiusmod culpa, porchetta id pork dolor. Culpa strip steak in biltong ham ground round rump salami boudin chicken laboris flank.
				</h2>
				<h2>&nbsp;</h2>
				<button type="button" class="btn btn-danger"><a href="#Analytics">Learn More</a></button>
		</div>
		
		<div class="top_data clearfix hidden-xs col-sm-4 col-md-4 col-lg-4">
			<h2>&nbsp;</h2>
			<h2>&nbsp;</h2>
			<h1>Data Driven<br> Hiring</h1>
				<h2>&nbsp;</h2>
				<h2>Dolore exercitation pariatur velit eiusmod culpa, porchetta id pork dolor. Culpa strip steak in biltong ham ground round rump salami boudin chicken laboris flank.
				</h2>
				<h2>&nbsp;</h2>
				<button type="button" class="btn btn-danger"><a href="#Data">Learn More</a></button>
		</div>

		<div class="top_security clearfix hidden-xs col-sm-4 col-md-4 col-lg-4">
			<h2>&nbsp;</h2>
			<h2>&nbsp;</h2>
			<h1>Data<br> Security</h1>
				<h2>&nbsp;</h2>
				<h2>Dolore exercitation pariatur velit eiusmod culpa, porchetta id pork dolor. Culpa strip steak in biltong ham ground round rump salami boudin chicken laboris flank.
				</h2>
				<h2>&nbsp;</h2>
				<button type="button" class="btn btn-danger"><a href="#Security">Learn More</a></button>
		</div>	
	</div>
</div>
<div class="hidden-top hidden-sm hidden-md hidden-lg">
	<div class="row hidden-sm hidden-md hidden-lg">
			<div class="col-xs-1 hidden-sm hidden-md hidden-lg"></div>
			<div class="col-xs-10 hidden-sm hidden-md hidden-lg">
				<h2>&nbsp;</h2>
				<h2>&nbsp;</h2>
				<h1>Helping Recruiters Find Better Professionals, Faster</h1>
					<h2>&nbsp;</h2>
					<h2>Dolore exercitation pariatur velit eiusmod culpa, porchetta id pork dolor. Culpa strip steak inbiltong ham ground round rump salami boudin chicken laboris flank.
					</h2>
			</div>
			<div class="col-xs-1 hidden-sm hidden-md hidden-lg">
			</div>
	</div>
</div>

<div class="analytics">
	<div class="row clearfix">
		<div id="page1">
		<a name="Analytics"></a>
			<h2>&nbsp;</h2>
			<h2>&nbsp;</h2>
			<h1>Recruitment<br> Analytics</h1>
				<h2>&nbsp;</h2>
				<h2>Dolore exercitation pariatur velit eiusmod culpa, porchetta id pork dolor. Culpa strip steak in biltong ham ground round rump salami boudin chicken laboris flank.
				</h2>
				<h2>&nbsp;</h2>
				<h2>&nbsp;</h2>
				<h2>&nbsp;</h2>
		</div>
	</div>
</div>

<div class="data">
	<div id="page2">
		<div class="row clearfix">	
		<a name="Data"></a>
			<h2>&nbsp;</h2>
			<h2>&nbsp;</h2>
			<h1>Recruitment<br> Analytics</h1>
				<h2>&nbsp;</h2>
				<h2>Dolore exercitation pariatur velit eiusmod culpa, porchetta id pork dolor. Culpa strip steak in biltong ham ground round rump salami boudin chicken laboris flank.
				</h2>
				<h2>&nbsp;</h2>
				<h2>&nbsp;</h2>
				<h2>&nbsp;</h2>
		</div>
	</div>
</div>	

<dic class="security">
	<div class="row clearfix">
		<div id="page3">
		<a name="Security"></a>
			<div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8">
				<h2>&nbsp;</h2>
				<h2>&nbsp;</h2>
				<h1>Recruitment<br> Analytics</h1>
					<h2>&nbsp;</h2>
					<h2>Dolore exercitation pariatur velit eiusmod culpa, porchetta id pork dolor. Culpa strip steak in biltong ham ground round rump salami boudin chicken laboris flank.
					</h2>
					<h2>&nbsp;</h2>
					<h2>&nbsp;</h2>
					<h2>&nbsp;</h2>
			</div>
			<div class="hidden-xs hidden-sm col-md-4 col-lg-4">
			</div>
		</div>
	</div>
</div>

	<!-- Footer -->
	  <footer id="footer">
		<div class="container">
		  <p class="text-muted">Snapscore</br>© 2015 Daniel Schur All Rights Reserved</p>
		</div>
	  </footer>
	</html>
 <!--End of Page Wrapper -->

<!-- Scroll -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script>$(document).ready(function() {
  function filterPath(string) {
	return string
	  .replace(/^\//,'')
	  .replace(/(index|default).[a-zA-Z]{3,4}$/,'')
	  .replace(/\/$/,'');
  }
  $('a[href*=#]').each(function() {
	if ( filterPath(location.pathname) == filterPath(this.pathname)
	&& location.hostname == this.hostname
	&& this.hash.replace(/#/,'') ) {
	  var $targetId = $(this.hash), $targetAnchor = $('[name=' + this.hash.slice(1) +']');
	  var $target = $targetId.length ? $targetId : $targetAnchor.length ? $targetAnchor : false;
	   if ($target) {
		 var targetOffset = $target.offset().top;
		 $(this).click(function() {
		   $('html, body').animate({scrollTop: targetOffset}, 5000);
		   return false;
		 });
	  }
	}
  });
});
</script>



